/* Main */
#main
.titulo {
  font-family: 'Abril Fatface', cursive;
}
#main
article {
  width: 65%;
}

#intro {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

#intro 
img {
  max-width: 600px;
}
#intro 
h1 {
  color: brown;
  font-size: 46px;
}
#intro 
p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
}

/* Bootstrap*/
#bootstrap {
  margin:auto;
  box-shadow: 2px 2px 10px 2px black;
}

/* Header */
.header {
  text-align: center;
}

#logo {
  margin: 100px 0px 20px 0px;
  max-width: 300px;
}

#modo {
  margin: 5px;
  max-height: 24px;
}

#navegador {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 10px 2px black;
}
#navegador 
div {
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

#navegador 
div:hover{
  color:red !important;
}

/* footer */
#footer {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(42, 42, 42, 0.6);
  box-shadow: 2px 2px 10px 2px black;
}

#titulo-footer {
  text-align: center;
  font-size: 30px;
}

#cont-footer {
  margin: auto;
  width: 70%;
}

#cont-footer
.columna {
  margin: 10px;
  max-width: 500px;
  font-size: 18px;
}

.pedidos
img {
  max-width: 100px;
}
 
.redes-sociales {
  display: flex;
  margin: auto;
}
 
.redes-sociales
img {
  max-width: 40px;
}


/* Google maps*/
.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  height:180px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;
  height:180px;}

.gmap_iframe {
  height:180px!important;
}
/* Copy */
#copy {
  text-align: center;
  margin-top: 20px;
}

/* Para tablets y computadoras: */
@media only screen and (min-width: 768px) {
  /* Pagina de Menú */
  #pagina-menu {
    width: 65%;
    margin-left: 100px;
  }
  
  /* Navegador*/
  #navegador {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /* Footer */
  #cont-footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr ;
  }

}
